.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/*.bin
build
bin
.gradle
add
*.log
.eclipse
.settings
*.cfg
*.gz
*.txt
*.dat
*.dat_mcr
*.dat_old
*.mca
*.json
*.lock
*.ini
*.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.resources
*.zip
eclipse/.metadata/.mylyn/.taskListIndex/segments_1
*.gen
*.project
.project
*.classpath
